<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.ArtificialMacDrillMapper">
  <resultMap id="BaseResultMap" type="com.lanou.domain.ArtificialMacDrill">
    <constructor>
      <idArg column="DRILL_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DRILL_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_DEPT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_DEPT_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_REASON" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_BEG_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="APP_END_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="OPER_COUNT" javaType="java.lang.Integer" jdbcType="DECIMAL" />
      <arg column="DURATION_TIME" javaType="java.lang.Integer" jdbcType="DECIMAL" />
      <arg column="DRILL_CONTENT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPECREQ_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPEC_REQ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EFFECT_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="MANAGE_DEP_CHIEFNO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MANAGE_DEP_CHIEFNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DEPT_MANAGER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DEPT_MANAGER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    DRILL_ID, DRILL_TYPE, APP_DEPT_ID, APP_DEPT_NAME, APP_REASON, APP_BEG_DATE, APP_END_DATE, 
    OPER_COUNT, DURATION_TIME, DRILL_CONTENT, SPECREQ_FLAG, SPEC_REQ, EFFECT_FLAG, CREATE_STAFF_NO, 
    CREATE_STAFF_NAME, CREATE_DATE, MANAGE_DEP_CHIEFNO, MANAGE_DEP_CHIEFNAME, DEPT_MANAGER_ID, 
    DEPT_MANAGER_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ARTIFICIAL_MAC_DRILL
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ARTIFICIAL_MAC_DRILL
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanou.domain.ArtificialMacDrill">
    insert into ARTIFICIAL_MAC_DRILL (DRILL_ID, DRILL_TYPE, APP_DEPT_ID, 
      APP_DEPT_NAME, APP_REASON, APP_BEG_DATE, 
      APP_END_DATE, OPER_COUNT, DURATION_TIME, 
      DRILL_CONTENT, SPECREQ_FLAG, SPEC_REQ, 
      EFFECT_FLAG, CREATE_STAFF_NO, CREATE_STAFF_NAME, 
      CREATE_DATE, MANAGE_DEP_CHIEFNO, MANAGE_DEP_CHIEFNAME, 
      DEPT_MANAGER_ID, DEPT_MANAGER_NAME)
    values (#{drillId,jdbcType=VARCHAR}, #{drillType,jdbcType=VARCHAR}, #{appDeptId,jdbcType=VARCHAR}, 
      #{appDeptName,jdbcType=VARCHAR}, #{appReason,jdbcType=VARCHAR}, #{appBegDate,jdbcType=TIMESTAMP}, 
      #{appEndDate,jdbcType=TIMESTAMP}, #{operCount,jdbcType=DECIMAL}, #{durationTime,jdbcType=DECIMAL}, 
      #{drillContent,jdbcType=VARCHAR}, #{specreqFlag,jdbcType=VARCHAR}, #{specReq,jdbcType=VARCHAR}, 
      #{effectFlag,jdbcType=VARCHAR}, #{createStaffNo,jdbcType=VARCHAR}, #{createStaffName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{manageDepChiefno,jdbcType=VARCHAR}, #{manageDepChiefname,jdbcType=VARCHAR}, 
      #{deptManagerId,jdbcType=VARCHAR}, #{deptManagerName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.domain.ArtificialMacDrill">
    insert into ARTIFICIAL_MAC_DRILL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drillId != null">
        DRILL_ID,
      </if>
      <if test="drillType != null">
        DRILL_TYPE,
      </if>
      <if test="appDeptId != null">
        APP_DEPT_ID,
      </if>
      <if test="appDeptName != null">
        APP_DEPT_NAME,
      </if>
      <if test="appReason != null">
        APP_REASON,
      </if>
      <if test="appBegDate != null">
        APP_BEG_DATE,
      </if>
      <if test="appEndDate != null">
        APP_END_DATE,
      </if>
      <if test="operCount != null">
        OPER_COUNT,
      </if>
      <if test="durationTime != null">
        DURATION_TIME,
      </if>
      <if test="drillContent != null">
        DRILL_CONTENT,
      </if>
      <if test="specreqFlag != null">
        SPECREQ_FLAG,
      </if>
      <if test="specReq != null">
        SPEC_REQ,
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG,
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO,
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="manageDepChiefno != null">
        MANAGE_DEP_CHIEFNO,
      </if>
      <if test="manageDepChiefname != null">
        MANAGE_DEP_CHIEFNAME,
      </if>
      <if test="deptManagerId != null">
        DEPT_MANAGER_ID,
      </if>
      <if test="deptManagerName != null">
        DEPT_MANAGER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drillId != null">
        #{drillId,jdbcType=VARCHAR},
      </if>
      <if test="drillType != null">
        #{drillType,jdbcType=VARCHAR},
      </if>
      <if test="appDeptId != null">
        #{appDeptId,jdbcType=VARCHAR},
      </if>
      <if test="appDeptName != null">
        #{appDeptName,jdbcType=VARCHAR},
      </if>
      <if test="appReason != null">
        #{appReason,jdbcType=VARCHAR},
      </if>
      <if test="appBegDate != null">
        #{appBegDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appEndDate != null">
        #{appEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operCount != null">
        #{operCount,jdbcType=DECIMAL},
      </if>
      <if test="durationTime != null">
        #{durationTime,jdbcType=DECIMAL},
      </if>
      <if test="drillContent != null">
        #{drillContent,jdbcType=VARCHAR},
      </if>
      <if test="specreqFlag != null">
        #{specreqFlag,jdbcType=VARCHAR},
      </if>
      <if test="specReq != null">
        #{specReq,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="manageDepChiefno != null">
        #{manageDepChiefno,jdbcType=VARCHAR},
      </if>
      <if test="manageDepChiefname != null">
        #{manageDepChiefname,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerId != null">
        #{deptManagerId,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerName != null">
        #{deptManagerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.domain.ArtificialMacDrill">
    update ARTIFICIAL_MAC_DRILL
    <set>
      <if test="drillType != null">
        DRILL_TYPE = #{drillType,jdbcType=VARCHAR},
      </if>
      <if test="appDeptId != null">
        APP_DEPT_ID = #{appDeptId,jdbcType=VARCHAR},
      </if>
      <if test="appDeptName != null">
        APP_DEPT_NAME = #{appDeptName,jdbcType=VARCHAR},
      </if>
      <if test="appReason != null">
        APP_REASON = #{appReason,jdbcType=VARCHAR},
      </if>
      <if test="appBegDate != null">
        APP_BEG_DATE = #{appBegDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appEndDate != null">
        APP_END_DATE = #{appEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operCount != null">
        OPER_COUNT = #{operCount,jdbcType=DECIMAL},
      </if>
      <if test="durationTime != null">
        DURATION_TIME = #{durationTime,jdbcType=DECIMAL},
      </if>
      <if test="drillContent != null">
        DRILL_CONTENT = #{drillContent,jdbcType=VARCHAR},
      </if>
      <if test="specreqFlag != null">
        SPECREQ_FLAG = #{specreqFlag,jdbcType=VARCHAR},
      </if>
      <if test="specReq != null">
        SPEC_REQ = #{specReq,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="manageDepChiefno != null">
        MANAGE_DEP_CHIEFNO = #{manageDepChiefno,jdbcType=VARCHAR},
      </if>
      <if test="manageDepChiefname != null">
        MANAGE_DEP_CHIEFNAME = #{manageDepChiefname,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerId != null">
        DEPT_MANAGER_ID = #{deptManagerId,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerName != null">
        DEPT_MANAGER_NAME = #{deptManagerName,jdbcType=VARCHAR},
      </if>
    </set>
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.domain.ArtificialMacDrill">
    update ARTIFICIAL_MAC_DRILL
    set DRILL_TYPE = #{drillType,jdbcType=VARCHAR},
      APP_DEPT_ID = #{appDeptId,jdbcType=VARCHAR},
      APP_DEPT_NAME = #{appDeptName,jdbcType=VARCHAR},
      APP_REASON = #{appReason,jdbcType=VARCHAR},
      APP_BEG_DATE = #{appBegDate,jdbcType=TIMESTAMP},
      APP_END_DATE = #{appEndDate,jdbcType=TIMESTAMP},
      OPER_COUNT = #{operCount,jdbcType=DECIMAL},
      DURATION_TIME = #{durationTime,jdbcType=DECIMAL},
      DRILL_CONTENT = #{drillContent,jdbcType=VARCHAR},
      SPECREQ_FLAG = #{specreqFlag,jdbcType=VARCHAR},
      SPEC_REQ = #{specReq,jdbcType=VARCHAR},
      EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MANAGE_DEP_CHIEFNO = #{manageDepChiefno,jdbcType=VARCHAR},
      MANAGE_DEP_CHIEFNAME = #{manageDepChiefname,jdbcType=VARCHAR},
      DEPT_MANAGER_ID = #{deptManagerId,jdbcType=VARCHAR},
      DEPT_MANAGER_NAME = #{deptManagerName,jdbcType=VARCHAR}
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.lanou.domain.ArtificialMacDrill">
    <constructor>
      <idArg column="DRILL_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DRILL_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_DEPT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_DEPT_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_REASON" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_BEG_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="APP_END_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="OPER_COUNT" javaType="java.lang.Integer" jdbcType="DECIMAL" />
      <arg column="DURATION_TIME" javaType="java.lang.Integer" jdbcType="DECIMAL" />
      <arg column="DRILL_CONTENT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPECREQ_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPEC_REQ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EFFECT_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="MANAGE_DEP_CHIEFNO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MANAGE_DEP_CHIEFNAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DEPT_MANAGER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DEPT_MANAGER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    DRILL_ID, DRILL_TYPE, APP_DEPT_ID, APP_DEPT_NAME, APP_REASON, APP_BEG_DATE, APP_END_DATE, 
    OPER_COUNT, DURATION_TIME, DRILL_CONTENT, SPECREQ_FLAG, SPEC_REQ, EFFECT_FLAG, CREATE_STAFF_NO, 
    CREATE_STAFF_NAME, CREATE_DATE, MANAGE_DEP_CHIEFNO, MANAGE_DEP_CHIEFNAME, DEPT_MANAGER_ID, 
    DEPT_MANAGER_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ARTIFICIAL_MAC_DRILL
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ARTIFICIAL_MAC_DRILL
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanou.domain.ArtificialMacDrill">
    insert into ARTIFICIAL_MAC_DRILL (DRILL_ID, DRILL_TYPE, APP_DEPT_ID, 
      APP_DEPT_NAME, APP_REASON, APP_BEG_DATE, 
      APP_END_DATE, OPER_COUNT, DURATION_TIME, 
      DRILL_CONTENT, SPECREQ_FLAG, SPEC_REQ, 
      EFFECT_FLAG, CREATE_STAFF_NO, CREATE_STAFF_NAME, 
      CREATE_DATE, MANAGE_DEP_CHIEFNO, MANAGE_DEP_CHIEFNAME, 
      DEPT_MANAGER_ID, DEPT_MANAGER_NAME)
    values (#{drillId,jdbcType=VARCHAR}, #{drillType,jdbcType=VARCHAR}, #{appDeptId,jdbcType=VARCHAR}, 
      #{appDeptName,jdbcType=VARCHAR}, #{appReason,jdbcType=VARCHAR}, #{appBegDate,jdbcType=TIMESTAMP}, 
      #{appEndDate,jdbcType=TIMESTAMP}, #{operCount,jdbcType=DECIMAL}, #{durationTime,jdbcType=DECIMAL}, 
      #{drillContent,jdbcType=VARCHAR}, #{specreqFlag,jdbcType=VARCHAR}, #{specReq,jdbcType=VARCHAR}, 
      #{effectFlag,jdbcType=VARCHAR}, #{createStaffNo,jdbcType=VARCHAR}, #{createStaffName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{manageDepChiefno,jdbcType=VARCHAR}, #{manageDepChiefname,jdbcType=VARCHAR}, 
      #{deptManagerId,jdbcType=VARCHAR}, #{deptManagerName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.domain.ArtificialMacDrill">
    insert into ARTIFICIAL_MAC_DRILL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drillId != null">
        DRILL_ID,
      </if>
      <if test="drillType != null">
        DRILL_TYPE,
      </if>
      <if test="appDeptId != null">
        APP_DEPT_ID,
      </if>
      <if test="appDeptName != null">
        APP_DEPT_NAME,
      </if>
      <if test="appReason != null">
        APP_REASON,
      </if>
      <if test="appBegDate != null">
        APP_BEG_DATE,
      </if>
      <if test="appEndDate != null">
        APP_END_DATE,
      </if>
      <if test="operCount != null">
        OPER_COUNT,
      </if>
      <if test="durationTime != null">
        DURATION_TIME,
      </if>
      <if test="drillContent != null">
        DRILL_CONTENT,
      </if>
      <if test="specreqFlag != null">
        SPECREQ_FLAG,
      </if>
      <if test="specReq != null">
        SPEC_REQ,
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG,
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO,
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="manageDepChiefno != null">
        MANAGE_DEP_CHIEFNO,
      </if>
      <if test="manageDepChiefname != null">
        MANAGE_DEP_CHIEFNAME,
      </if>
      <if test="deptManagerId != null">
        DEPT_MANAGER_ID,
      </if>
      <if test="deptManagerName != null">
        DEPT_MANAGER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drillId != null">
        #{drillId,jdbcType=VARCHAR},
      </if>
      <if test="drillType != null">
        #{drillType,jdbcType=VARCHAR},
      </if>
      <if test="appDeptId != null">
        #{appDeptId,jdbcType=VARCHAR},
      </if>
      <if test="appDeptName != null">
        #{appDeptName,jdbcType=VARCHAR},
      </if>
      <if test="appReason != null">
        #{appReason,jdbcType=VARCHAR},
      </if>
      <if test="appBegDate != null">
        #{appBegDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appEndDate != null">
        #{appEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operCount != null">
        #{operCount,jdbcType=DECIMAL},
      </if>
      <if test="durationTime != null">
        #{durationTime,jdbcType=DECIMAL},
      </if>
      <if test="drillContent != null">
        #{drillContent,jdbcType=VARCHAR},
      </if>
      <if test="specreqFlag != null">
        #{specreqFlag,jdbcType=VARCHAR},
      </if>
      <if test="specReq != null">
        #{specReq,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="manageDepChiefno != null">
        #{manageDepChiefno,jdbcType=VARCHAR},
      </if>
      <if test="manageDepChiefname != null">
        #{manageDepChiefname,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerId != null">
        #{deptManagerId,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerName != null">
        #{deptManagerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.domain.ArtificialMacDrill">
    update ARTIFICIAL_MAC_DRILL
    <set>
      <if test="drillType != null">
        DRILL_TYPE = #{drillType,jdbcType=VARCHAR},
      </if>
      <if test="appDeptId != null">
        APP_DEPT_ID = #{appDeptId,jdbcType=VARCHAR},
      </if>
      <if test="appDeptName != null">
        APP_DEPT_NAME = #{appDeptName,jdbcType=VARCHAR},
      </if>
      <if test="appReason != null">
        APP_REASON = #{appReason,jdbcType=VARCHAR},
      </if>
      <if test="appBegDate != null">
        APP_BEG_DATE = #{appBegDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appEndDate != null">
        APP_END_DATE = #{appEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operCount != null">
        OPER_COUNT = #{operCount,jdbcType=DECIMAL},
      </if>
      <if test="durationTime != null">
        DURATION_TIME = #{durationTime,jdbcType=DECIMAL},
      </if>
      <if test="drillContent != null">
        DRILL_CONTENT = #{drillContent,jdbcType=VARCHAR},
      </if>
      <if test="specreqFlag != null">
        SPECREQ_FLAG = #{specreqFlag,jdbcType=VARCHAR},
      </if>
      <if test="specReq != null">
        SPEC_REQ = #{specReq,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="manageDepChiefno != null">
        MANAGE_DEP_CHIEFNO = #{manageDepChiefno,jdbcType=VARCHAR},
      </if>
      <if test="manageDepChiefname != null">
        MANAGE_DEP_CHIEFNAME = #{manageDepChiefname,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerId != null">
        DEPT_MANAGER_ID = #{deptManagerId,jdbcType=VARCHAR},
      </if>
      <if test="deptManagerName != null">
        DEPT_MANAGER_NAME = #{deptManagerName,jdbcType=VARCHAR},
      </if>
    </set>
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.domain.ArtificialMacDrill">
    update ARTIFICIAL_MAC_DRILL
    set DRILL_TYPE = #{drillType,jdbcType=VARCHAR},
      APP_DEPT_ID = #{appDeptId,jdbcType=VARCHAR},
      APP_DEPT_NAME = #{appDeptName,jdbcType=VARCHAR},
      APP_REASON = #{appReason,jdbcType=VARCHAR},
      APP_BEG_DATE = #{appBegDate,jdbcType=TIMESTAMP},
      APP_END_DATE = #{appEndDate,jdbcType=TIMESTAMP},
      OPER_COUNT = #{operCount,jdbcType=DECIMAL},
      DURATION_TIME = #{durationTime,jdbcType=DECIMAL},
      DRILL_CONTENT = #{drillContent,jdbcType=VARCHAR},
      SPECREQ_FLAG = #{specreqFlag,jdbcType=VARCHAR},
      SPEC_REQ = #{specReq,jdbcType=VARCHAR},
      EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MANAGE_DEP_CHIEFNO = #{manageDepChiefno,jdbcType=VARCHAR},
      MANAGE_DEP_CHIEFNAME = #{manageDepChiefname,jdbcType=VARCHAR},
      DEPT_MANAGER_ID = #{deptManagerId,jdbcType=VARCHAR},
      DEPT_MANAGER_NAME = #{deptManagerName,jdbcType=VARCHAR}
    where DRILL_ID = #{drillId,jdbcType=VARCHAR}
  </update>
</mapper>