<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.mapper.CargoTransPermitMapper" >
  <resultMap id="BaseResultMap" type="com.lanou.domain.CargoTransPermit" >
    <constructor >
      <idArg column="TRANS_PERT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TRANS_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MAC_NO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TRANS_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TRANS_DEPT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TRANS_DEPT_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TRANS_STARTP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TRANS_ENDP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EFFECT_FLAG" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_STAFF_NO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_STAFF_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    TRANS_PERT_ID, TRANS_TYPE, MAC_NO, TRANS_DATE, TRANS_DEPT_ID, TRANS_DEPT_NAME, TRANS_STARTP, 
    TRANS_ENDP, EFFECT_FLAG, CREATE_STAFF_NO, CREATE_STAFF_NAME, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CARGO_TRANS_PERMIT
    where TRANS_PERT_ID = #{transPertId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CARGO_TRANS_PERMIT
    where TRANS_PERT_ID = #{transPertId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanou.domain.CargoTransPermit" >
    insert into CARGO_TRANS_PERMIT (TRANS_PERT_ID, TRANS_TYPE, MAC_NO, 
      TRANS_DATE, TRANS_DEPT_ID, TRANS_DEPT_NAME, 
      TRANS_STARTP, TRANS_ENDP, EFFECT_FLAG, 
      CREATE_STAFF_NO, CREATE_STAFF_NAME, CREATE_DATE
      )
    values (#{transPertId,jdbcType=VARCHAR}, #{transType,jdbcType=VARCHAR}, #{macNo,jdbcType=VARCHAR}, 
      #{transDate,jdbcType=TIMESTAMP}, #{transDeptId,jdbcType=VARCHAR}, #{transDeptName,jdbcType=VARCHAR}, 
      #{transStartp,jdbcType=VARCHAR}, #{transEndp,jdbcType=VARCHAR}, #{effectFlag,jdbcType=VARCHAR}, 
      #{createStaffNo,jdbcType=VARCHAR}, #{createStaffName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.domain.CargoTransPermit" >
    insert into CARGO_TRANS_PERMIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transPertId != null" >
        TRANS_PERT_ID,
      </if>
      <if test="transType != null" >
        TRANS_TYPE,
      </if>
      <if test="macNo != null" >
        MAC_NO,
      </if>
      <if test="transDate != null" >
        TRANS_DATE,
      </if>
      <if test="transDeptId != null" >
        TRANS_DEPT_ID,
      </if>
      <if test="transDeptName != null" >
        TRANS_DEPT_NAME,
      </if>
      <if test="transStartp != null" >
        TRANS_STARTP,
      </if>
      <if test="transEndp != null" >
        TRANS_ENDP,
      </if>
      <if test="effectFlag != null" >
        EFFECT_FLAG,
      </if>
      <if test="createStaffNo != null" >
        CREATE_STAFF_NO,
      </if>
      <if test="createStaffName != null" >
        CREATE_STAFF_NAME,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transPertId != null" >
        #{transPertId,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="macNo != null" >
        #{macNo,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transDeptId != null" >
        #{transDeptId,jdbcType=VARCHAR},
      </if>
      <if test="transDeptName != null" >
        #{transDeptName,jdbcType=VARCHAR},
      </if>
      <if test="transStartp != null" >
        #{transStartp,jdbcType=VARCHAR},
      </if>
      <if test="transEndp != null" >
        #{transEndp,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null" >
        #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null" >
        #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null" >
        #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.domain.CargoTransPermit" >
    update CARGO_TRANS_PERMIT
    <set >
      <if test="transType != null" >
        TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="macNo != null" >
        MAC_NO = #{macNo,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        TRANS_DATE = #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transDeptId != null" >
        TRANS_DEPT_ID = #{transDeptId,jdbcType=VARCHAR},
      </if>
      <if test="transDeptName != null" >
        TRANS_DEPT_NAME = #{transDeptName,jdbcType=VARCHAR},
      </if>
      <if test="transStartp != null" >
        TRANS_STARTP = #{transStartp,jdbcType=VARCHAR},
      </if>
      <if test="transEndp != null" >
        TRANS_ENDP = #{transEndp,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null" >
        EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null" >
        CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null" >
        CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TRANS_PERT_ID = #{transPertId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.domain.CargoTransPermit" >
    update CARGO_TRANS_PERMIT
    set TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      MAC_NO = #{macNo,jdbcType=VARCHAR},
      TRANS_DATE = #{transDate,jdbcType=TIMESTAMP},
      TRANS_DEPT_ID = #{transDeptId,jdbcType=VARCHAR},
      TRANS_DEPT_NAME = #{transDeptName,jdbcType=VARCHAR},
      TRANS_STARTP = #{transStartp,jdbcType=VARCHAR},
      TRANS_ENDP = #{transEndp,jdbcType=VARCHAR},
      EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where TRANS_PERT_ID = #{transPertId,jdbcType=VARCHAR}
  </update>
</mapper>