<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.PmsRoomMapper">
  <resultMap id="BaseResultMap" type="com.lanou.domain.PmsRoom">
    <constructor>
      <idArg column="ROOM_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PLANT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ROOM_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ROOM_ADDR" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FIRE_DENSITY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EFFECT_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="MAC_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ROOM_ID, PLANT_ID, ROOM_NAME, ROOM_ADDR, FIRE_DENSITY, EFFECT_FLAG, CREATE_STAFF_NO, 
    CREATE_STAFF_NAME, CREATE_DATE, MAC_NO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PMS_ROOM
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PMS_ROOM
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanou.domain.PmsRoom">
    insert into PMS_ROOM (ROOM_ID, PLANT_ID, ROOM_NAME, 
      ROOM_ADDR, FIRE_DENSITY, EFFECT_FLAG, 
      CREATE_STAFF_NO, CREATE_STAFF_NAME, CREATE_DATE, 
      MAC_NO)
    values (#{roomId,jdbcType=VARCHAR}, #{plantId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, 
      #{roomAddr,jdbcType=VARCHAR}, #{fireDensity,jdbcType=VARCHAR}, #{effectFlag,jdbcType=VARCHAR}, 
      #{createStaffNo,jdbcType=VARCHAR}, #{createStaffName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{macNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.domain.PmsRoom">
    insert into PMS_ROOM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        ROOM_ID,
      </if>
      <if test="plantId != null">
        PLANT_ID,
      </if>
      <if test="roomName != null">
        ROOM_NAME,
      </if>
      <if test="roomAddr != null">
        ROOM_ADDR,
      </if>
      <if test="fireDensity != null">
        FIRE_DENSITY,
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG,
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO,
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="macNo != null">
        MAC_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="plantId != null">
        #{plantId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomAddr != null">
        #{roomAddr,jdbcType=VARCHAR},
      </if>
      <if test="fireDensity != null">
        #{fireDensity,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="macNo != null">
        #{macNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.domain.PmsRoom">
    update PMS_ROOM
    <set>
      <if test="plantId != null">
        PLANT_ID = #{plantId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomAddr != null">
        ROOM_ADDR = #{roomAddr,jdbcType=VARCHAR},
      </if>
      <if test="fireDensity != null">
        FIRE_DENSITY = #{fireDensity,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="macNo != null">
        MAC_NO = #{macNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.domain.PmsRoom">
    update PMS_ROOM
    set PLANT_ID = #{plantId,jdbcType=VARCHAR},
      ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      ROOM_ADDR = #{roomAddr,jdbcType=VARCHAR},
      FIRE_DENSITY = #{fireDensity,jdbcType=VARCHAR},
      EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MAC_NO = #{macNo,jdbcType=VARCHAR}
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.lanou.domain.PmsRoom">
    <constructor>
      <idArg column="ROOM_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PLANT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ROOM_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ROOM_ADDR" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FIRE_DENSITY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EFFECT_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="MAC_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ROOM_ID, PLANT_ID, ROOM_NAME, ROOM_ADDR, FIRE_DENSITY, EFFECT_FLAG, CREATE_STAFF_NO, 
    CREATE_STAFF_NAME, CREATE_DATE, MAC_NO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PMS_ROOM
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PMS_ROOM
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanou.domain.PmsRoom">
    insert into PMS_ROOM (ROOM_ID, PLANT_ID, ROOM_NAME, 
      ROOM_ADDR, FIRE_DENSITY, EFFECT_FLAG, 
      CREATE_STAFF_NO, CREATE_STAFF_NAME, CREATE_DATE, 
      MAC_NO)
    values (#{roomId,jdbcType=VARCHAR}, #{plantId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, 
      #{roomAddr,jdbcType=VARCHAR}, #{fireDensity,jdbcType=VARCHAR}, #{effectFlag,jdbcType=VARCHAR}, 
      #{createStaffNo,jdbcType=VARCHAR}, #{createStaffName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{macNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.domain.PmsRoom">
    insert into PMS_ROOM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        ROOM_ID,
      </if>
      <if test="plantId != null">
        PLANT_ID,
      </if>
      <if test="roomName != null">
        ROOM_NAME,
      </if>
      <if test="roomAddr != null">
        ROOM_ADDR,
      </if>
      <if test="fireDensity != null">
        FIRE_DENSITY,
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG,
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO,
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="macNo != null">
        MAC_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="plantId != null">
        #{plantId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomAddr != null">
        #{roomAddr,jdbcType=VARCHAR},
      </if>
      <if test="fireDensity != null">
        #{fireDensity,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="macNo != null">
        #{macNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.domain.PmsRoom">
    update PMS_ROOM
    <set>
      <if test="plantId != null">
        PLANT_ID = #{plantId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomAddr != null">
        ROOM_ADDR = #{roomAddr,jdbcType=VARCHAR},
      </if>
      <if test="fireDensity != null">
        FIRE_DENSITY = #{fireDensity,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="macNo != null">
        MAC_NO = #{macNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.domain.PmsRoom">
    update PMS_ROOM
    set PLANT_ID = #{plantId,jdbcType=VARCHAR},
      ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      ROOM_ADDR = #{roomAddr,jdbcType=VARCHAR},
      FIRE_DENSITY = #{fireDensity,jdbcType=VARCHAR},
      EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MAC_NO = #{macNo,jdbcType=VARCHAR}
    where ROOM_ID = #{roomId,jdbcType=VARCHAR}
  </update>
</mapper>