<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.SpecworkPermitMapper">
  <resultMap id="BaseResultMap" type="com.lanou.domain.SpecworkPermit">
    <constructor>
      <idArg column="SPECPERT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDU_PROJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDU_OBJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NEED_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDU_QUALIFICATION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EFFECT_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SPECPERT_ID, APP_TYPE, EDU_PROJ, EDU_OBJ, NEED_DESC, EDU_QUALIFICATION, EFFECT_FLAG, 
    CREATE_STAFF_NO, CREATE_STAFF_NAME, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SPECWORK_PERMIT
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SPECWORK_PERMIT
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanou.domain.SpecworkPermit">
    insert into SPECWORK_PERMIT (SPECPERT_ID, APP_TYPE, EDU_PROJ, 
      EDU_OBJ, NEED_DESC, EDU_QUALIFICATION, 
      EFFECT_FLAG, CREATE_STAFF_NO, CREATE_STAFF_NAME, 
      CREATE_DATE)
    values (#{specpertId,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, #{eduProj,jdbcType=VARCHAR}, 
      #{eduObj,jdbcType=VARCHAR}, #{needDesc,jdbcType=VARCHAR}, #{eduQualification,jdbcType=VARCHAR}, 
      #{effectFlag,jdbcType=VARCHAR}, #{createStaffNo,jdbcType=VARCHAR}, #{createStaffName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.domain.SpecworkPermit">
    insert into SPECWORK_PERMIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specpertId != null">
        SPECPERT_ID,
      </if>
      <if test="appType != null">
        APP_TYPE,
      </if>
      <if test="eduProj != null">
        EDU_PROJ,
      </if>
      <if test="eduObj != null">
        EDU_OBJ,
      </if>
      <if test="needDesc != null">
        NEED_DESC,
      </if>
      <if test="eduQualification != null">
        EDU_QUALIFICATION,
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG,
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO,
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specpertId != null">
        #{specpertId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="eduProj != null">
        #{eduProj,jdbcType=VARCHAR},
      </if>
      <if test="eduObj != null">
        #{eduObj,jdbcType=VARCHAR},
      </if>
      <if test="needDesc != null">
        #{needDesc,jdbcType=VARCHAR},
      </if>
      <if test="eduQualification != null">
        #{eduQualification,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.domain.SpecworkPermit">
    update SPECWORK_PERMIT
    <set>
      <if test="appType != null">
        APP_TYPE = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="eduProj != null">
        EDU_PROJ = #{eduProj,jdbcType=VARCHAR},
      </if>
      <if test="eduObj != null">
        EDU_OBJ = #{eduObj,jdbcType=VARCHAR},
      </if>
      <if test="needDesc != null">
        NEED_DESC = #{needDesc,jdbcType=VARCHAR},
      </if>
      <if test="eduQualification != null">
        EDU_QUALIFICATION = #{eduQualification,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.domain.SpecworkPermit">
    update SPECWORK_PERMIT
    set APP_TYPE = #{appType,jdbcType=VARCHAR},
      EDU_PROJ = #{eduProj,jdbcType=VARCHAR},
      EDU_OBJ = #{eduObj,jdbcType=VARCHAR},
      NEED_DESC = #{needDesc,jdbcType=VARCHAR},
      EDU_QUALIFICATION = #{eduQualification,jdbcType=VARCHAR},
      EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.lanou.domain.SpecworkPermit">
    <constructor>
      <idArg column="SPECPERT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="APP_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDU_PROJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDU_OBJ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NEED_DESC" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDU_QUALIFICATION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EFFECT_FLAG" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_STAFF_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SPECPERT_ID, APP_TYPE, EDU_PROJ, EDU_OBJ, NEED_DESC, EDU_QUALIFICATION, EFFECT_FLAG, 
    CREATE_STAFF_NO, CREATE_STAFF_NAME, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SPECWORK_PERMIT
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SPECWORK_PERMIT
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lanou.domain.SpecworkPermit">
    insert into SPECWORK_PERMIT (SPECPERT_ID, APP_TYPE, EDU_PROJ, 
      EDU_OBJ, NEED_DESC, EDU_QUALIFICATION, 
      EFFECT_FLAG, CREATE_STAFF_NO, CREATE_STAFF_NAME, 
      CREATE_DATE)
    values (#{specpertId,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, #{eduProj,jdbcType=VARCHAR}, 
      #{eduObj,jdbcType=VARCHAR}, #{needDesc,jdbcType=VARCHAR}, #{eduQualification,jdbcType=VARCHAR}, 
      #{effectFlag,jdbcType=VARCHAR}, #{createStaffNo,jdbcType=VARCHAR}, #{createStaffName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.domain.SpecworkPermit">
    insert into SPECWORK_PERMIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specpertId != null">
        SPECPERT_ID,
      </if>
      <if test="appType != null">
        APP_TYPE,
      </if>
      <if test="eduProj != null">
        EDU_PROJ,
      </if>
      <if test="eduObj != null">
        EDU_OBJ,
      </if>
      <if test="needDesc != null">
        NEED_DESC,
      </if>
      <if test="eduQualification != null">
        EDU_QUALIFICATION,
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG,
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO,
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specpertId != null">
        #{specpertId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="eduProj != null">
        #{eduProj,jdbcType=VARCHAR},
      </if>
      <if test="eduObj != null">
        #{eduObj,jdbcType=VARCHAR},
      </if>
      <if test="needDesc != null">
        #{needDesc,jdbcType=VARCHAR},
      </if>
      <if test="eduQualification != null">
        #{eduQualification,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.domain.SpecworkPermit">
    update SPECWORK_PERMIT
    <set>
      <if test="appType != null">
        APP_TYPE = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="eduProj != null">
        EDU_PROJ = #{eduProj,jdbcType=VARCHAR},
      </if>
      <if test="eduObj != null">
        EDU_OBJ = #{eduObj,jdbcType=VARCHAR},
      </if>
      <if test="needDesc != null">
        NEED_DESC = #{needDesc,jdbcType=VARCHAR},
      </if>
      <if test="eduQualification != null">
        EDU_QUALIFICATION = #{eduQualification,jdbcType=VARCHAR},
      </if>
      <if test="effectFlag != null">
        EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      </if>
      <if test="createStaffNo != null">
        CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      </if>
      <if test="createStaffName != null">
        CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.domain.SpecworkPermit">
    update SPECWORK_PERMIT
    set APP_TYPE = #{appType,jdbcType=VARCHAR},
      EDU_PROJ = #{eduProj,jdbcType=VARCHAR},
      EDU_OBJ = #{eduObj,jdbcType=VARCHAR},
      NEED_DESC = #{needDesc,jdbcType=VARCHAR},
      EDU_QUALIFICATION = #{eduQualification,jdbcType=VARCHAR},
      EFFECT_FLAG = #{effectFlag,jdbcType=VARCHAR},
      CREATE_STAFF_NO = #{createStaffNo,jdbcType=VARCHAR},
      CREATE_STAFF_NAME = #{createStaffName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where SPECPERT_ID = #{specpertId,jdbcType=VARCHAR}
  </update>
</mapper>